aside {
  position: fixed;
  right: 20px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

aside a{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 0;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

aside .more{
  background-color: #38A3FC;
  background-image: url(../img/plus.svg);
}

aside .top{
  background-color: #004B8A;
  background-image: url(../img/top.svg);
  background-size: 100%;
}